.todo-item button{
    margin: 5px 5px;
}

.todo-item span {
    cursor: pointer;
    margin-right: 10px;
}

.todo-item.completed span {
    text-decoration: line-through;
}
.todo-item.important span {
    color: limegreen;
}
