.list-group-item.non-visible {
    display: none;
}

.list-group-item{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-top-width:1px !important;
}
