.list-group-item.non-visible {
    display: none;
}

.list-group-item{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-top-width:1px !important;
}

.todo-item button{
    margin: 5px 5px;
}

.todo-item span {
    cursor: pointer;
    margin-right: 10px;
}

.todo-item.completed span {
    text-decoration: line-through;
}
.todo-item.important span {
    color: limegreen;
}
